<div class="cover{{#if @site.cover_image}} image-loading{{/if}}{{#match @custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content">
        {{#if @site.description}}
            <img src="https://ctrlv.in/img/ak-320.jpg"
                 alt="Photo of Anthony Kuske"
                 class="cover-photo" />

            <div class="cover-description">
                Hi, I'm Anthony, a software engineer, entrepreneur, and traveller.
                {{#unless @member}}
                    {{#if @custom.email_signup_text}}
                        {{@custom.email_signup_text}}
                    {{/if}}
                {{/unless}}
            </div>

            <div class="cover-btns">
                <a class="cover-btns__btn"
                   href="https://github.com/antriver"
                   title="Github"
                   target="_blank">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="cover-btns__btn"
                   href="https://stackoverflow.com/users/710630/antriver"
                   title="Stack Overflow"
                   target="_blank">
                    <i class="fab fa-fw fa-stack-overflow"></i>
                </a>
                <a class="cover-btns__btn"
                   href="mailto:mail@anthonykuske.com"
                   title="Email">
                    <i class="fas fa-fw fa-envelope"></i>
                </a>
            </div>
        {{/if}}

        {{#if @site.members_enabled}}
            {{#unless @site.members_invite_only}}
                {{#unless @member}}
                    <form class="form-wrapper cover-form" data-members-form>
                        <input class="auth-email" type="email" name="email" data-members-email placeholder="Your email address" required="true">
                        <button class="form-button" type="submit" aria-label="Submit">
                            <span class="default">Subscribe</span>
                            <span class="loader">{{> "icons/loader"}}</span>
                            <span class="success">Email sent</span>
                        </button>
                    </form>
                {{/unless}}
            {{/unless}}
        {{/if}}
    </div>

    <button class="button-icon cover-arrow">
        {{> "icons/caret-down"}}
    </button>
</div>
