<div class="cover{{#if @site.cover_image}} image-loading{{/if}}{{#match @custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content">
        <img src="https://ctrlv.in/img/ak-320.jpg"
             alt="Photo of Anthony Kuske"
             class="cover-photo" />

        <div class="cover-description">
            {{@custom.cover_description}}
        </div>

        <div class="cover-btns">
            <a class="cover-btns__btn"
               href="https://github.com/antriver"
               title="Github"
               target="_blank">
                <i class="fab fa-fw fa-github"></i>
            </a>
            <a class="cover-btns__btn"
               href="https://stackoverflow.com/users/710630/antriver"
               title="Stack Overflow"
               target="_blank">
                <i class="fab fa-fw fa-stack-overflow"></i>
            </a>
            <a class="cover-btns__btn"
               href="mailto:mail@anthonykuske.com"
               title="Email">
                <i class="fas fa-fw fa-envelope"></i>
            </a>
        </div>
    </div>

    <button class="button-icon cover-arrow">
        {{> "icons/caret-down"}}
    </button>
</div>
